.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.game-board {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(3, 100px);
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border: none;
  height: 100px;
  font-size: 48px;
  font-weight: bold;
  background-color: #517aca;
  cursor: pointer;
}

.board-bottom {
  border-bottom: 5px solid yellow;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  transform: rotate(-2deg);
}

.right-border {
  border-right: 5px solid yellow;
  border-width: 3px 4px 3px 5px;
  border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}

.square:hover {
  background-color: #6c91dc;
}

.square > div {
  display: inline-block;
  vertical-align: middle;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-info {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.x-style {
  color: #572364;
  font-family: 'Permanent Marker';
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

.o-style {
  color: #90EE90;
  font-family: 'Permanent Marker';
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #517aca;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
